.App {
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {  
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: grey;
}

input, textarea, button {
  font-family: inherit;
  font-size: 100%;  
  padding: 1;
  margin: 3px;  
}

.displayed-message {
  background-color: ivory;  
}

.new-message-section {
  background-color: azure;  
  padding: 20px;  
}

.reaction-selection {
  background-color: cornsilk;   
}